In [3]:
import simplificator as sf

---
#### __INTRODUCTION :__

Cette partie d'introduction sert à expliquer quelques commandes, et à vous familiariser avec. N'hésitez pas à essayer des choses. Au cas où, un mémo des commandes est disponible dans le fichier `FAQ.ipynb`. Executez les cellules suivantes les unes après les autres.

Nous allons manipuler des __tableaux__. Voici un exemple de tableau :

![ex_tableau](./assets/exemple_tableau.png)

En rouge, on observe la __ligne__ numéro __360__. Et en vert, la __colonne__ __id_troncon__. L'__élément__ (ou la __case__) à la __ligne 360__ et à la __colonne id_troncon__ est donc `25687_G`.

On commence par charger les premières données :

In [4]:
donnees_troncons = sf.charger_donnees_troncon()

Les données ont bien été chargées.

On peut afficher ces données avec la fonction `afficher`, qui prend en paramètre le nombre de lignes à afficher. Par exemple, si on veut afficher les `6` premières lignes du tableau `donnees_troncons` on fait comme ceci :

In [5]:
donnees_troncons.afficher(6)

  id_troncon         hierarchie             denomination
0    10273_D  Réseau d'armature  Route départementale 34
1    10273_G  Réseau d'armature  Route départementale 34
2    10274_D  Réseau d'armature  Route départementale 34
3    10274_G  Réseau d'armature  Route départementale 34
4    10275_D  Réseau d'armature  Route départementale 34
5    10275_G  Réseau d'armature  Route départementale 34

Ici, seules les `6` premières lignes ont été affichées, mais il y en a en fait beaucoup plus ! Voici comment savoir combien de lignes il y a dans le tableau :

In [6]:
donnees_troncons.afficher_le_nombre_de_lignes()

Il y a 2859 lignes dans ce tableau.

>Les routes de la ville de Rennes sont découpées en __tronçons__ (une portion de route). Chaque __ligne__ de ce tableau correspond à un __tronçon__. Les __colonnes__ correspondent à des informations sur ce tronçon :
>* __id_troncon__ : un identifiant unique du tronçon, 
>* __hierarchie__ : le type de route sur lequel est ce tronçon,
>* __denomination__ : le nom de la route sur laquelle est ce tronçon.
>
>On regardera ces colonnes plus en détail dans la suite.

Voici un exemple de tronçon, situé dans la rue de Montfort :

![ex_troncon](./assets/example_troncon.png)

On peut connaître les différentes valeurs qu'il y a dans une colonne de la manière suivante :

In [7]:
donnees_troncons.afficher_les_valeurs_de_la_colonne('hierarchie')

Les valeurs de la colonne hierarchie sont :
-Réseau d'armature,
-Réseau d'appui,
-Réseau national,
-Réseau de distribution principale,
-Réseau de distribution secondaire.

_Fin de la partie d'introduction_

# __1 - Récupération des données__

__Question 1.1 :__ Sur les données `donnees_troncons`, afficher les valeurs de la colonne `denomination` :

In [8]:
donnees_troncons.afficher_les_valeurs_de_la_colonne('denomination')

Les valeurs de la colonne denomination sont :
-Route départementale 34,
-Route départementale 82,
-Route départementale 837,
-Rue de Rennes,
-Rond-point,
-Route départementale 288,
-Route nationale 24,
-Rond-point des Villeneuves,
-Rue Nationale,
-Avenue François Château,
-Rond-point de Bouriande,
-Boulevard des Alliés,
-Rond-point des Sorinais,
-Route départementale 29,
-Route nationale 136,
-Avenue Général George S. Patton,
-Route départementale 173,
-Porte d'Angers,
-Rond-point de Gerhoui,
-Rond-point de la Croix Verte
 .... IL Y A PLUS DE 2O VALEURS

On charge ensuite un autre jeu de données : `donnees_trafic_1` :

In [9]:
donnees_trafic_1 = sf.charger_donnees_trafic_1()

Les données ont bien été chargées.

__Question 1.2 :__ Afficher les 3 premières lignes de ces nouvelles données :

In [10]:
donnees_trafic_1.afficher(3)

  id_troncon etat_trafic   jour  heure
0    10273_D      fluide  mardi     16
1    10273_G      fluide  mardi     16
2    10274_D      fluide  mardi     16

>Ce second jeu de données est à une série d'__observation de tronçons__. Chaque __ligne__ correspond à un __tronçon__. Les __colonnes__ donnent des informations sur ce tronçon :
>* __jour__, __heure__: le jour et l'heure auxquels le tronçon a été observé.
>* __etat_trafic__ : l'état du trafic sur ce tronçon, à cette heure précise.
>* __id_troncon__ : le même identifiant que dans le premier jeu de données.

__Question 1.3 :__ Afficher le nombre de lignes de `donnees_trafic_1` :

In [11]:
donnees_trafic_1.afficher_le_nombre_de_lignes()

Il y a 2521 lignes dans ce tableau.

__Question 1.4 :__ Afficher les différentes valeurs de la colonne `etat_trafic` :

In [12]:
donnees_trafic_1.afficher_les_valeurs_de_la_colonne('etat_trafic')

Les valeurs de la colonne etat_trafic sont :
-fluide,
-ralenti,
-tres_ralenti.

---

_Fin de la partie 1. Dans la partie 2, on voit comment afficher ces données sur une carte._

---

### Bac à sable