In [1]:
import simplificator as sf

## __3 - Entraînement d'une IA__
---

Nous allons entraîner une IA de prédiction de trafic, avec les données que l'on vient de visualiser.

>Le modèle que nous allons utiliser est __Naïve Bayes__ (une explication de son fonctionnement est dans le fichier `./files/fiche_naive_bayes.md`). 

Pour résumer, nous allons entraîner une IA à prédire la colonne `etat_trafic` à partir des autres colonnes. Elle est censée prédire la valeur la _plus probable_ de la colonne `etat_trafic` sachant la valeur des autres colonnes.

__Question 3.1 :__ Charger le second jeu de données (comme dans la partie 2), et les afficher :

In [2]:
donnees = sf.charger_donnees_trafic_2()
donnees.afficher()

,id_troncon,etat_trafic,coordonnees,hierarchie,denomination,jour,heure
0,10273_D,fluide,"48.04479275590756, -1.6502152435538264",Réseau d'armature,Route départementale 34,mardi,16
1,10273_G,fluide,"48.04490011768304, -1.6501987288374649",Réseau d'armature,Route départementale 34,mardi,16
2,10274_D,fluide,"48.045243782479545, -1.6428939526652684",Réseau d'armature,Route départementale 34,mardi,16
3,10274_G,fluide,"48.045349914855116, -1.642923218024447",Réseau d'armature,Route départementale 34,mardi,16
4,10275_D,fluide,"48.04564564136701, -1.6399234873467938",Réseau d'armature,Route départementale 34,mardi,16

La commande `sous_tableau()` permet d'extraire un tableau d'un autre. Voici un exemple :

In [3]:
donnees = sf.charger_donnees_trafic_2()
mon_sous_tableau = donnees.sous_tableau(colonnes=['etat_trafic', 'coordonnees'])
mon_sous_tableau.afficher()

                               coordonnees etat_trafic
0   48.04479275590756, -1.6502152435538264      fluide
1   48.04490011768304, -1.6501987288374649      fluide
2  48.045243782479545, -1.6428939526652684      fluide
3   48.045349914855116, -1.642923218024447      fluide
4   48.04564564136701, -1.6399234873467938      fluide

On peut aussi spécifier les lignes que l'on veut garder :

In [4]:
mon_sous_tableau_2 = donnees.sous_tableau(lignes=[0, 3, 18], colonnes=['coordonnees', 'etat_trafic'])
mon_sous_tableau_2.afficher()

                               coordonnees etat_trafic
0   48.04479275590756, -1.6502152435538264      fluide
3   48.045349914855116, -1.642923218024447      fluide
18  48.04408857839227, -1.6654826987703695     ralenti

__Question 3.2 :__ Créer deux sous-tableaux depuis le tableau `donnees`. Un premier (on l'appelera `entree`) qui contient toutes les colonnes sauf `coordonnees` et `etat_trafic`. Et un second (on l'appelera `sortie`) qui ne contient que la colonne `etat_trafic`. Les afficher.

In [5]:
entree = donnees.sous_tableau(colonnes=['denomination', 'jour', 'heure'])
sortie = donnees.sous_tableau(colonnes=['etat_trafic'])

In [6]:
entree.afficher()

    jour  heure             denomination
0  mardi     16  Route départementale 34
1  mardi     16  Route départementale 34
2  mardi     16  Route départementale 34
3  mardi     16  Route départementale 34
4  mardi     16  Route départementale 34

In [7]:
sortie.afficher()

  etat_trafic
0      fluide
1      fluide
2      fluide
3      fluide
4      fluide

__Question 3.3 :__ C'est le moment d'entraîner une IA. Voici la marche à suivre :

In [8]:
akinator = sf.SfNaiveBayes() #crée une IA (vous pouvez changer le nom).

In [9]:
akinator.entrainer(entree, sortie) #utilise les données extraites précedemment pour l'entraînement.

L'IA a bien été entraînée sur les colonnes ['jour', 'heure', 'denomination'] à prédire la valeur de la colonne 'etat_trafic'.

Voilà ! Notre IA est entraînée. Elle peut prédire la valeur `etat_trafic` avec les valeurs `jour`, `heure` et `denomination`. Par exemple, essayons de prédire l'état du trafic un `mardi` à `16h` sur la `Route départementale 34`.

> __ATTENTION__ Il faut quel les valeurs reprennent la même forme que les données d'entraînement (par exemple '`jeudi`' et non '`Jeudi`').

In [10]:
nouvelle_entree = sf.nouveau_tableau(lignes=[['Route départementale 34', '15', 'jeudi']], colonnes=['denomination', 'heure', 'jour'])
nouvelle_entree.afficher()

              denomination jour  heure
0  Route départementale 34   15  jeudi

In [11]:
prediction = akinator.predire(nouvelle_entree)
prediction.afficher()

    etat_trafic
0  tres_ralenti

À vous : prédire (selon l'IA) l'état du trafic sur le `'Mail François Mitterand'` un `'jeudi'` à `'16'` heures :

In [12]:
X = sf.nouveau_tableau(lignes=[['Mail François Mitterand', 'jeudi', '16']], colonnes=['denomination', 'jour', 'heure'])
y = akinator.predire(X)
y.afficher()

    etat_trafic
0  tres_ralenti

Voilà ! On a construit notre premier prédicteur. Est-il fiable ? Regardons plus en détail les données sur lesquelles il s'est entraîné :

__Question 3.4 :__ Sur le tableau chargé dans la question __3.1__ (`charger_donnees_trafic_2()`), afficher les valeurs de la colonne `jour` et `heure` :

In [13]:
donnees.afficher_les_valeurs_de_la_colonne('jour')
donnees.afficher_les_valeurs_de_la_colonne('heure')

Les valeurs de la colonne jour sont :
-mardi.
Les valeurs de la colonne heure sont :
-16.

En fait, on a entraîné notre modèle uniquement sur des données enregistrées un mardi à 16h... Voyons les conséquences sur ses capacités de prédiction :

__Question 3.5 :__ Prédire l'état du trafic sur le `'Mail François Mitterand'` pour chaque jour de la semaine à __16h__ :

In [14]:
jours = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']
prediction = dict()

for jour in jours :
    X = sf.nouveau_tableau(lignes=[['Mail François Mitterand', jour, '16']], colonnes=['denomination', 'jour', 'heure'])
    y = akinator.predire(X)
    prediction[jour] = y.avoir_element(0, 'etat_trafic')

prediction

{'lundi': 'tres_ralenti',
 'mardi': 'fluide',
 'mercredi': 'tres_ralenti',
 'jeudi': 'tres_ralenti',
 'vendredi': 'tres_ralenti',
 'samedi': 'tres_ralenti',
 'dimanche': 'tres_ralenti'}

>Autre solution :

In [15]:
lignes = [['Mail François Mitterand', jour, '16'] for jour in jours]

entree = sf.nouveau_tableau(lignes=lignes, colonnes=['denomination', 'jour', 'heure'])
sortie = akinator.predire(entree)
sortie.afficher(7)

    etat_trafic
0  tres_ralenti
1        fluide
2  tres_ralenti
3  tres_ralenti
4  tres_ralenti
5  tres_ralenti
6  tres_ralenti

__Question 3.6 :__ Même question mais cette fois ci un __mardi__ à __15h__, __18h__ et __8h__.

In [16]:
heures = ['15','18', '8']
prediction_2 = dict()

for heure in heures :
    X = sf.nouveau_tableau(lignes=[['Mail François Mitterand', 'mardi', heure]], colonnes=['denomination', 'jour', 'heure'])
    y = akinator.predire(X)
    prediction_2[heure] = y.avoir_element(0, 'etat_trafic')

prediction_2

{'15': 'tres_ralenti', '18': 'tres_ralenti', '8': 'tres_ralenti'}

Notre prédicteur n'a pas l'air de très bien prédire l'état du trafic... Il donne la même prédiction sur toutes les entrées différentes d'un mardi à 16h. Ce qui est logique car il n'a été entraîné __que__ sur des données d'un mardi à 16h.

---

Fin de la partie 3. Dans la partie 4, on construit une IA avec plus de données, et on affiche les prédictions de l'état du trafic actuel sur une carte, que l'on compare avec l'état réel du trafic.

---

### Bac à sable