In [2]:
import os
import sys
import pandas as pd

print(os.getcwd())
sys.path.append('./src')
import simplificator as sf

/home/marius/dev/projets/exo_trafic_ml/simplificator

Create a SfDataFrame :

In [6]:
df = pd.DataFrame([['a', 'A'], ['b', 'B'],['c', 'C'], ['d', 'D']], columns= ['minuscule', 'majuscule'])
sdf = sf.SfDataFrame(df)

Show a SfDataFrame :

In [8]:
sdf.afficher(2)

  minuscule majuscule
0         a         A
1         b         B

The following example uses traffic data from Rennes. It is available online in a RUDI node (see: https://rudi.bzh/catalogue).

In [3]:
data_train = sf.charger_donnees_trafic_2()
x_train, y_train = data_train.sous_tableau(colonnes=['id_troncon', 'denomination', 'hierarchie', 'jour', 'heure']), data_train.sous_tableau(colonnes=['etat_trafic'])
akinator = sf.SfNaiveBayes()
akinator.entrainer(entree = x_train, sortie = y_train)

L'IA a bien été entraînée sur les colonnes ['id_troncon', 'hierarchie', 'jour', 'denomination', 'heure'] à prédire la valeur de la colonne 'etat_trafic'.

Load current data traffic in Rennes, from the url : https://data.rennesmetropole.fr/api/explore/v2.1/catalog/datasets/etat-du-trafic-en-temps-reel/exports/csv?lang=fr&timezone=Europe%2FBerlin&use_labels=true&delimiter=%3B :

In [4]:
data_test = sf.charger_donnees_trafic_actuel()

In [5]:
x_test, y_test = data_test.sous_tableau(colonnes=['id_troncon', 'denomination', 'hierarchie', 'jour', 'heure']), data_test.sous_tableau(colonnes=['etat_trafic'])
x_test.afficher()

  id_troncon         hierarchie      jour             denomination  heure
0    10273_D  Réseau d'armature  mercredi  Route départementale 34     15
1    10273_G  Réseau d'armature  mercredi  Route départementale 34     15
2    10274_D  Réseau d'armature  mercredi  Route départementale 34     15
3    10274_G  Réseau d'armature  mercredi  Route départementale 34     15
4    10275_D  Réseau d'armature  mercredi  Route départementale 34     15

In [6]:
y_predict = akinator.predire(x_test)

In [7]:
#pourcentage de bonnes réponses de l'IA sur le dernier jeu de données.
u = y_predict.avoir_la_colonne('etat_trafic') == y_test.avoir_la_colonne('etat_trafic')
v = [1 if elem else 0 for elem in u]
print(sum(v)/len(v))

0.5374177631578947